{%extends 'director/base.html'%}
{% load static %}
{%block content%}
<div class="jumbotron" align="center">
	<div class="container">
		<div class="card" style="width: 30rem; background: #AED6F1">
			<div class="card-body">
				<h2>Modificar el pago</h2>
			</div>
		</div>
	</div>
</div>

<div class="jumbotron" align="center">
	<div class="container">
		<div class="card" style="width: 30rem; background: #AED6F1; font-size: 22">
			<div class="card-body">
				<form method="POST">
					{% csrf_token %}
					{{ form.as_p }}
					<br>
					<button type="submit" class="btn btn-warning" onclick="mensaje()">Actualizar</button>
					<p onclick="cancelar()">
						<button onclick="location.href='pagoalumno'" class="btn btn-danger"> CANCELAR </button>
					</p>
				</form>
			</div>



			<script type="text/javascript">
				function mensaje(){
					Swal.fire({
						position: 'center',
						icon: 'success',
						title: 'Actualizado con éxito',
						ConfirmButton: false,
						timer: 3500
					})
				}
				function cancelar(){
					Swal.fire({
						position: 'center',
						icon: 'error',
						title: 'Cancelado',
						showConfirmButton: false,
						timer: 1500
					})
				}
			</script>
		</div>
	</div>
</div>
</div>
{% endblock %}